body {
  font-family: "Nunito Sans", sans-serif;
  background-image: url(/img/2.jpg);
  color: rgb(219, 219, 219);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  background-color: rgba(197, 202, 197, 0.4);
  box-shadow: 0px 0px 10px 0px #a1a1a1;
  margin: 20px 0;
  width: 90%;
  max-width: 1700px;
  border-radius: 5px;
}

h1 {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  line-height: 2;
  margin-top: 30px;
}

h2 {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  line-height: 2;
}

h3 {
  font-size: 20px;
  font-weight: 200;
  text-align: justify;
  width: 88%;
  color: rgb(197, 196, 196);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

h4 {
  font-size: 18px;
  font-weight: 200;
  margin: 10px 0 10px 20px;
}

.projectContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.projectVersion {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 15px 0;
}

.projectVersion img {
  height: 90%;
  margin: 0 20px;
}

img {
  border-radius: 4px;
}

.rwdProjectContainer {
  display: flex;
  justify-content: center;
  width: 50%;
}

.btn {
  padding: 12px 25px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 0px #a1a1a1;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  margin: 4px 10px;
  width: 100px;
}

.home {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

@media screen and (max-width: 1200px) {
  .projectContainer {
    flex-direction: column;
  }

  .projectVersion {
    width: 100%;
    margin-bottom: 0;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 16px;
    text-align: justify;
  }

  h4 {
    font-size: 14px;
    margin: 0 0 7px 20px;
  }

  .rwdProjectContainer {
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  article {
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px #a1a1a1;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
    text-align: justify;
  }

  h4 {
    font-size: 13px;
    margin: 0 0 7px 7px;
  }

  section {
    margin: 0;
  }

  .projectVersion img {
    width: 95%;
    margin: 0 auto;
  }

  .projectVersion {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
    margin-bottom: 10px;
  }

  .btn {
    padding: 10px 25px;
    font-size: 10px;
    width: 80px;
  }

  .home {
    margin: 10px 0 25px 0;
  }
}
