body {
  font-family: "Nunito Sans", sans-serif;
  background-image: url(/img/2.jpg);
  color: rgb(219, 219, 219);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  background-color: rgba(197, 202, 197, 0.4);
  box-shadow: 0px 0px 10px 0px #a1a1a1;
  margin: 20px 0;
  width: 90%;
  max-width: 1700px;
  border-radius: 5px;
}

h2 {
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  line-height: 3;
}

h3 {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

h4 {
  font-size: 18px;
  font-weight: 200;
  margin: 10px 0 10px 20px;
}

.projectContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.projectVersion {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 15px 0;
}

span {
  line-height: 1.7;
  font-weight: 400;
}

.projectVersion h2 {
  margin: 0 0 10px 20px;
}

.projectVersion img {
  height: 90%;
  margin: 0 20px;
}

.rwdProjectContainer {
  display: flex;
  justify-content: center;
  width: 50%;
}
