body {
  font-family: "Segoe UI", Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url(/img/2.jpg);
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 800px;
  width: 1450px;
  color: white;
  margin: auto 100px;
}
.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 65%;
}

h2 {
  font-size: 42px;
  line-height: 1.1;
}

span {
  font-size: 30px;
}

.skillsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 45%;
}

.skills {
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-top: 200px;
}

.html .css .js {
  height: 100%;
  width: 33%;
}

h4 {
  margin-bottom: 10px;
}

.circle {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
}

.circle1 {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.projects {
  display: flex;
  align-items: center;
  width: 28%;
}

.contactLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn,
.btn2 {
  padding: 15px 25px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  border-radius: 9px;
  text-decoration: none;
}

.btn:hover,
.btn2:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(2, 15, 6);
}

.photo {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  margin-right: 100px;
}

.photo img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 9px 0px #f0efef;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 750px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .headerWrapper {
    flex-direction: column-reverse;
    margin-top: 5%;
    height: 60%;
  }

  .photo {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-right: 0;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 65%;
    text-align: center;
    margin-top: 10%;
  }

  h2 {
    font-size: 36px;
    line-height: 1.1;
  }

  span {
    font-size: 26px;
  }

  .skillsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 75%;
  }

  .btn,
  .btn2 {
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    border-radius: 9px;
    text-decoration: none;
  }
}

@media screen and (max-width: 670px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    width: 300px;
    color: white;
    margin: auto;
  }

  .headerWrapper {
    flex-direction: column-reverse;
    margin-top: 15%;
    height: 60%;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 60%;
    margin-top: 20%;
  }
  main {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url(/img/2.jpg);
    background-position: center;
    background-size: cover;
  }

  .photo {
    justify-content: center;
    margin: 0;
  }

  .photo img {
    height: auto;
    width: 50vw;
    border-radius: 50%;
    box-shadow: 0px 0px 9px 0px #f0efef;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  span {
    font-size: 12px;
  }

  .skillsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    width: 100%;
  }

  .html .css .js {
    height: 100%;
    width: 33%;
  }

  h4 {
    margin-bottom: 5px;
    font-size: 12px;
  }

  .circle,
  .circle1 {
    width: 5px;
    height: 5px;
  }
  .skills {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    margin-top: 60px;
  }

  .wrapperBottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
  }

  .btn,
  .btn2 {
    padding: 9px;
    font-size: 13px;
    font-weight: normal;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    border-radius: 9px;
    text-decoration: none;
  }

  .contactLinks {
    justify-content: space-around;
    margin-top: 10%;
  }
}
